.blue{
  background-color:#007BFF;
  padding:20px;
  color:#fff;
}

.red{
  background-color:#FB2259;
  padding:20px;
  color:#fff;
}

.jumbotron h2{
  text-align:center;
  width: 50%;
  margin:0 auto
}